.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #E94B3CFF;
  color: white;
}

.navbar {
  height: 55px;
}

.NavStuff {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  list-style: none;
}

.text-white {
  color: white;
}

.bold-white {
  color: white;
  font-weight: bolder;
}

body {
  background: #101820FF;
  color: white;
}

#home-heading {
  position: relative;
  min-height: 500px;
  top: 100px;
  background: url('./imgs/a.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;

}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.menu_card {
  background-color: #101820FF !important;
  margin-bottom: 30px;
}

.modal-card {
  background-color: #101820FF!important;
}

closeButton {
  color: white !important;
  opacity: 1 !important;
}
